html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    border-collapse: collapse;
}


#corpo{
    background-color: #fff;
    padding: 10px;
}

#titulo{
    background-color: #006;
    color: #eee;
    padding: 10px;
    border-bottom: solid 3px #666;
}

#barra{
    padding: 5px 15px;
}

#titulo a {
    color: #eee;
}
.painel1 {
    vertical-align: top;
}

.painel2{
    width: 100%;
    vertical-align: top;
}

.topbar{
    padding: 10px;
    width: 100%;
    
}
.ui-widget, .ui-widget .ui-widget {
/*    font-size: 90% !important; */
}

.ui-widget a, .ui-widget .ui-widget a {
/*    font-size: 90% !important; */
    font-weight: normal;
}
/*
.ui-datatable .ui-datatable-header{
    background-image: none;
}

.ui-datatable .ui-state-default{
    background-image: none;
}
*/
.label {
    text-align: right;
    font-weight: bold;
}

.field {

}

.red{
    color: red; 
}

tr.verde{
    background-image: none;

    color: #060;
}

tr.vermelho{
    background-image: none;

    color: #c00;
}

tr.laranja{
    background-image: none;

    color: #c60;
}

tr.azul{
    background-image: none;

    color: #00c;
}

a:hover {
    font-weight: normal;
}

table.prn {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    border-collapse:collapse;
}
table.prn td{
    padding: 3px 6px;
    vertical-align: top;
}
table.prn th{
    vertical-align: top;
    border-bottom:1px solid #000;
    padding: 6px 6px;
    background: #eee;
}

h2.prn {
    margin: 0px;
}

hr.prn{
    height: 0pt;
    color: #000;
    border: solid 1pt #000;
}

.coluna1 {
    vertical-align: top;
    padding-right: 10px;
}

.coluna2 {
    vertical-align: top;
    padding-right: 10px;
    background: #eee;
}

table.boleto{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    border-collapse:collapse;
    width: 100%;
}
table.boleto td, table.boleto th{
    border:1px solid #ddd;
    padding: 3px;
}

table.boleto td{
    vertical-align: top;
}

.ui-datatable-header {
   text-align: left;
}

table.no-border td, table.no-border th{
    border:0px;
    padding: 5px;
}

@media print{
    body{ background-color:#FFFFFF; background-image:none; color:#000000 }
    .ui-widget, .ui-widget .ui-widget .ui-datatable .ui-state-default .ui-sortable-column {
        border: 0pt none !important;
        margin: 0;
        padding: 0;
        background: #ff00ff;
        color: black;
    }
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default { font-size: 12px; }
.ui-button .ui-button-text { font-size: 12px; }