
body{
    margin:0;
    font-family: "Arial",“Trebuchet MS”, Helvetica, sans-serif;
    font-size: 12px;
    background: #333;
}

#around{
    min-width: 700px;
    max-width: 1024px;
    width: auto;
    margin: 0 auto;
    background: #fff;
}

a {
    color: #999;
    text-decoration: underline;
}

a:hover{
    color: #333;
}

h3{
    margin: 0;
}

.menuselected{
    background: #fff;
    
}

.ui-widget, .ui-widget .ui-widget {
/*    font-size: 90% !important; */
    font-size: 14px;
}

div#header{
    /* Fallback for web browsers that doesn't support RGBa */
    background: #003;
    /* RGBa with 0.6 opacity */
    color: #fefefe;
    padding: 10px;
}

div#left-sidebar{
    float: left;
    width:200px;
    background: #eee;
    padding: 10px;
}

div#content{
    float: left;
    
    padding: 10px;
}

#menuBar {
    padding: 7px 30px 7px 10px;
    background: #ddd;
    border-top: solid 2px #aaa;
    border-bottom: solid 2px #eee;
}

tr.verde{
    background-image: none;

    color: #060;
}

tr.vermelho{
    background-image: none;

    color: #c00;
}

tr.laranja{
    background-image: none;

    color: #c60;
}

tr.azul{
    background-image: none;

    color: #00c;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default { font-size: 12px; }
.ui-button .ui-button-text { font-size: 12px; }


