
body{
    margin:0;
    font-family:“Trebuchet MS”, Helvetica, sans-serif;
}

a {
    color: #999;
    text-decoration: underline;
}

a:hover{
    color: #333;
}

h3{
    margin: 0;
}

.menuselected{
    background: #fff;
    
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}

div#header{
    /* Fallback for web browsers that doesn't support RGBa */
    background: #003;
    /* RGBa with 0.6 opacity */
    color: #fefefe;
    padding: 10px;
}

div#left-sidebar{
    float: left;
    width:200px;
    background: #eee;
    padding: 10px;
}

div#content{
    float: left;
    
    padding: 10px;
}

#menuBar {
    padding: 7px 30px;
    background: #ddd;
    border-top: solid 2px #aaa;
    border-bottom: solid 2px #eee;
}
